<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h3 th:text="${userModel.title}"></h3>
    <div>
        <P><strong>ID:</strong><span th:text="${userModel.user.id}"></span></P>
        <P><strong>username:</strong><span th:text="${userModel.user.username}"></span></P>
        <P><strong>email:</strong><span th:text="${userModel.user.email}"></span></P>
    </div>
<div>
    <a th:href="@{'/users/delete/'+${userModel.user.id}}" th:text="删除"></a>
    <a th:href="@{'/users/modify/'+${userModel.user.id}}" th:text="修改"></a>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>